.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #72d077
}

.button:active {
    background-color: #72d077;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
li{
    list-style-type: none;
    margin-bottom: 20px;
}
ul{
    margin-top: 10px;
}